<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        {% include 'bootstrap.html' %}
    </head>
    <body>
        {% include 'navbar.html' %}
        {% include 'banner.html' %}
        <div class="container">
            <h1 class="text-center mt-2 mb-4">Jovian Careers</h1>
            <div class="row mb-4">
                <div class="col-md-6">
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Expedita labore a architecto asperiores eius velit
                        sit aliquid odit veniam dolore fugit culpa officiis
                        obcaecati, doloremque et omnis eum hic doloribus.
                    </p>
                </div>
                <div class="d-none d-md-block col-6">
                    <img src="/static/people_at_work.jpg" id="people" />
                </div>
            </div>
            <h2 class="text-center mt-2 mb-4">Jobs</h2>
            <div>
                {% for job in jobs %} {%include('./jobItem.html')%} {%endfor%}
            </div>
            <div style="text-align: center">
                <a class="btn btn-primary btn-lg" href='mailto:hello@jovian.com?Subject=Question about Job Openings'>Contact Us</a>
            </div>
        </div>
        {%include 'footer.html'%}
    </body>
</html>
